body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #333;
  color: white;
  text-align: center;
  padding: 50px;
}

section {
  padding: 20px;
  margin: 10px;
  background: white;
  border-radius: 10px;
}

.project {
  background: #eee;
  padding: 10px;
  margin-top: 10px;
}